@page "/"
@using Portfolio.Components

<PageTitle>Kovácsházi Ádám - Portfolio</PageTitle>

<AnchorNavigation />

<section class="resume-section" id="about">
    <div class="resume-section-content">
        <h1 class="mb-0">
            Kovácsházi
            <span class="text-primary">Ádám</span>
        </h1>
        <div class="subheading mb-5">
            Magyarország
            <a href="mailto:b0kovada@vasvari.org">b0kovada@vasvari.org</a>
        </div>
        <p class="lead mb-3">
            Elhivatott programozó és webfejlesztő vagyok, akit érdekel a szoftverfejlesztés és tesztelés világa.
            Az általam használt készségek és technológiák közé tartoznak:
            - <strong>C#</strong>, <strong>Python</strong>, HTML, CSS, JavaScript
            - <strong>.NET MAUI</strong>, ASP.NET, <strong>Vue.js</strong>.
        </p>
        <p class="lead mb-3">
            Gyerekkorom óta érdekelnek az informatikai technológiák, és a programozás a kedvenc hobbimmá vált.
            A Vasvári Pál Technikumban szoftverfejlesztő és tesztelő szakon végeztem, ahol gyakorlati tapasztalatot is szereztem a fejlesztés és hibakeresés területén.
            Egy évig a CAS Szoftver Kft.-nél is dolgoztam iskolai együttműködés keretében, ahol mélyebb betekintést nyertem a professzionális szoftverfejlesztésbe.
        </p>
        <p class="lead mb-3">
            Szeretek új technológiákat felfedezni, hatékony és felhasználóbarát alkalmazásokat tervezni.
            Szabadidőmben különböző személyes projekteken dolgozom, amelyeket megtalálhatsz a
            <a href="https://github.com/b0kovada" target="_blank">GitHubon</a>.
        </p>
    </div>
</section>
<hr class="m-0" />

<section class="resume-section" id="experience">
    <div class="resume-section-content">
        <h2 class="mb-5">Tapasztalat</h2>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">Szoftverfejlesztő gyakornok</h3>
                <div class="subheading mb-3"><a href="https://www.cas.de/" target="_blank">CAS Szoftver Kft.</a></div>
                <ul>
                    <li>Iskolai együttműködés keretében egy évig dolgoztam a CAS Szoftver Kft.-nél, ahol betekintést nyertem a professzionális szoftverfejlesztés folyamataiba.</li>
                    <li>Megismerkedtem a szoftverfejlesztésben alkalmazott modern technológiákkal és módszerekkel.</li>
                    <li>Részt vettem különböző tesztelési és fejlesztési feladatokban, amelyek során gyakorlatban alkalmazhattam a programozási ismereteimet.</li>
                </ul>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">2024 Szeptember - 2025</span></div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">Szakmai gyakorlat</h3>
                <div class="subheading mb-3">Vasvári Pál Technikum</div>
                <ul>
                    <li>Tanulmányaim során szakemberektől sajátítottam el a szoftverfejlesztés és tesztelés gyakorlati alapjait.</li>
                    <li>Gyakorlati tapasztalatot szereztem a különböző programozási nyelvekben, például Java, C# és Python.</li>
                    <li>Részt vettem kisebb fejlesztési projektekben, ahol fejlesztési és hibakeresési feladatokat láttam el.</li>
                </ul>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">2020 Szeptember - 2025</span></div>
        </div>
    </div>
</section>

<hr class="m-0" />

<section class="resume-section" id="education">
    <div class="resume-section-content">
        <h2 class="mb-5">Oktatás</h2>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">Szegedi Zrínyi Ilona Általános Iskola</h3>
                <div class="subheading mb-3">Általános Iskola</div>
                <div>Szegedi Zrínyi Ilona Általános Iskola, Média tanulmányok</div>
                <ul>
                    <ul> <li>Általános iskolai tanulmányaim során média területen szereztem tapasztalatot, különösen a hangosítás és a fényképezés területén.</li> <li>A képzésem részeként megismerkedtem az audiovizuális technikákkal, és lehetőségem nyílt kipróbálni különböző eszközöket és szoftvereket a médiafeldolgozás területén.</li> <li>Tanulmányaim során betekintést nyertem a digitális fényképezés és képszerkesztés világába, ahol elsajátítottam az alapvető kompozíciós és utómunka technikákat.</li> <li>A média és technológia iránti érdeklődésem során felfedeztem a hangtechnika és a hangfeldolgozás alapjait, ami segített megérteni a hangrögzítés és szerkesztés folyamatát.</li> <li>Iskolai projektjeim során részt vettem különböző audiovizuális anyagok létrehozásában, ahol gyakorlati tapasztalatot szereztem a kreatív médiatervezésben.</li> </ul>
                </ul>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">2012 Szeptember - 2020 Június</span></div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">Szegedi SZC Vasvári Pál Gazdasági és Informatikai Technikum</h3>
                <div class="subheading mb-3">Technikusi Oklevél</div>
                <div>Szoftverfejlesztő és -tesztelő</div>
                <ul> <li>A szoftverfejlesztés és tesztelés területén végzett technikumi tanulmányaim során alapozó ismereteket szereztem programozásban és tesztelésben, miközben különféle fejlesztési és hibakeresési módszereket is elsajátítottam.</li> <li>Jártas vagyok a különböző programozási nyelvek, mint a Java, C# és Python használatában, és tapasztalatot szereztem objektum-orientált programozásban, valamint algoritmusok és adatszerkezetek implementálásában.</li> <li>Az iskolai projektjeim során fejlesztettem szoftvereket, teszteltem azokat és végeztem hibakeresést különféle fejlesztési környezetekben, mint például a Rider és Visual Studio Code.</li> <li>Technikumi záróvizsgámon egy komplex alkalmazás fejlesztése és a tesztelési folyamatok optimalizálása volt a fókuszban.</li> <li>Képzésem során különösen érdekeltek a programozás automatizálása, valamint a szoftverfejlesztés és tesztelés hatékonyságának növelése, aminek érdekében különféle eszközöket és módszereket alkalmaztam a kódminőség biztosítása érdekében.</li> </ul>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">2020 Szeptember - 2025 Július</span></div>
        </div>
    </div>
</section>

<hr class="m-0" />

<section class="resume-section" id="skills">
    <div class="resume-section-content">
        <h2 class="mb-5">Készségek</h2>
        <p>
            Képzett és lelkes programozó vagyok, aki a fejlesztésre és a mobil platformokra összpontosít. Néhány az általam használt készségek és technológiák közül:
            - C#, Python, HTML, CSS, TypeScript
            - ASP.NET, .NET MAUI, Blazor, Vue.js
            - Windows, macOS, Linux, Docker
        </p>
        <div class="subheading mb-3">Programozási nyelvek</div>
        <table class="table">
            <thead>
            <tr>
                <th>Programozási nyelv</th>
                <th>Szint</th>
                <th>Megjegyzés</th>
            </tr>
            </thead>
            <tbody>
            <tr class="success">
                <td>C#</td>
                <td>Expert</td>
                <td>ASP.NET, .NET MAUI, WPF</td>
            </tr>
            <tr class="info">
                <td>Python</td>
                <td>Jártas</td>
                <td>Adatok beolvasása, feldolgozása</td>
            </tr>
            <tr class="info">
                <td>Java</td>
                <td>Jártas</td>
                <td>Konzolos alkalmazások</td>
            </tr>
            <tr class="info">
                <td>Vue.js</td>
                <td>Jártas</td>
                <td>Multiplatform webalkalmazások</td>
            </tr>
            </tbody>
        </table>

        <div class="subheading mb-3">Keretrendszerek</div>
        <table class="table">
            <thead>
            <tr>
                <th>Keretrendszer</th>
                <th>Szint</th>
                <th>Megjegyzés</th>
            </tr>
            </thead>
            <tbody>
            <tr class="success">
                <td>.NET MAUI</td>
                <td>Expert</td>
                <td>Mobil fejlesztés</td>
            </tr>
            <tr class="success">
                <td>ASP.NET Core</td>
                <td>Expert</td>
                <td>Egy platformokon átívelő keretrendszer</td>
            </tr>
            <tr class="success">
                <td>Blazor</td>
                <td>Jártas</td>
                <td>Egy nyílt forráskódú multiplatform webes keretrendszer</td>
            </tr>
            <tr class="success">
                <td>WPF</td>
                <td>Jártas</td>
                <td>Windows asztali alkalmazások</td>
            </tr>
            </tbody>
        </table>
    </div>
</section>

<hr class="m-0" />

<section class="resume-section" id="interests">
    <div class="resume-section-content">
        <h2 class="mb-5">Érdeklődés</h2>
        <p>
            Kíváncsi és törekvő fejlesztő vagyok, aki szeret új technológiákat tanulni és magával ragadó alkalmazásokat készíteni. Néhány hobbi és tevékenység, amit szeretek:
            <ul>
                <li>Vezetés, egy olyan tevékenység, amitől úgy érzem, hogy élek, és feloldja belőlem a stresszt.</li>
                <li>Pingpong és biliárd, amit szeretek játszani a barátaimmal szórakozás és kikapcsolódás céljából.</li>
                <li>Horgászni, amit mindig szívesen csinálok, ha van egy kis szabadidőm, és új helyeket fedezek fel.</li>
                <li>Síelés, amit télen szeretek csinálni, szeretem a lejtők izgalmát és kihívásait.</li>
            </ul>
        </p>
        <p>
            Fejlesztőként fokozott kíváncsisággal és szenvedéllyel tanulok új készségeket és technológiákat, amelyekkel fejleszthetem fejlesztői képességeimet.
            Szeretem felfedezni a különböző keretrendszereket, platformokat és nyelveket, amelyek segítségével olyan alkalmazásokat hozhatok létre, amelyek szórakoztatóak, magával ragadóak.
            Néhány technológia, amivel eddig dolgoztam, a C#, a Python és a Java.
        </p>
    </div>
</section>